@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Jost:wght@600&family=Poppins&family=Roboto:wght@500&family=Rubik:wght@500&family=Source+Sans+3:wght@900&family=Source+Sans+Pro:wght@600&family=The+Nautigal:wght@700&display=swap');
@property --rotate {
          syntax: "<angle>";
          initial-value: 132deg;
          inherits: false;
        }
        
        :root {
          --card-height: 65vh;
          --card-width: calc(var(--card-height) / 1.5);
        }
        
        body {
          min-height: 100vh;
          background: #161822;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5%;
          font-family: 'Cabin', sans-serif;
        }
        
        .frame {
          background: #191c29;
          width: var(--card-width);
          height: var(--card-height);
          padding: 3px;
          position: relative;
          border-radius: 20px;
          justify-content: center;
          align-items: center;
          text-align: center;
          display: flex;
          font-size: 1.5em;
          color: rgb(88 199 250 / 0%);
          cursor: pointer;
        }
        .frame:hover{
                  background: linear-gradient(135deg,rgb(8, 218, 255),white,white,rgb(7, 2, 87));
                  /* background-image: url(pic1.jpg); */
        }
        
        .frame:hover {
          color: rgba(63, 2, 82, 1);
          transition: color 1s;
          font-size: 25px;
        }
        .frame:hover:before,
        .frame:hover:after {
          animation: none;
          opacity: 0;
        }
        
        .frame::before {
          content: "";
          width: 104%;
          height: 102%;
          border-radius: 8px;
          background-image: linear-gradient(
            var(--rotate),
            #58d3f5,
            #3a61d3 43%,
            #5403ce
          );
          position: absolute;
          z-index: -1;
          top: -1%;
          left: -2%;
          animation: spin 2.5s linear infinite;
        }
        
        .frame::after {
          position: absolute;
          content: "";
          top: calc(var(--card-height) / 6);
          left: 0;
          right: 0;
          z-index: -1;
          height: 100%;
          width: 100%;
          margin: 0 auto;
          transform: scale(0.8);
          filter: blur(calc(var(--card-height) / 6));
          background-image: linear-gradient(
            var(--rotate),
            #5ddcff,
            #3c67e3 43%,
            #4e00c2
          );
          opacity: 1;
          transition: opacity 0.5s;
          animation: spin 2.5s linear infinite;
        }
        
        @keyframes spin {
          0% {
            --rotate: 0deg;
          }
          100% {
            --rotate: 360deg;
          }
        }
        
        a {
          color: #212534;
          text-decoration: none;
          font-family: sans-serif;
          font-weight: bold;
          margin-top: 2rem;
        }
        